:root {
  --color: lightgray;
  --border-radius: 10px;
  --image: none;
}

body {
  background: #efefef;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* puzzle box */
#puz_box {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* puzzle target area */
#puz {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px dashed lightgray;
  overflow: hidden;
  border-radius: var(--border-radius);
}

/* empty slots */
#puz i {
  width: 100px;
  height: 100px;
  position: absolute;
  outline: 1px dashed lightgray;
}

/* slot positions */
#puz .first { left: 0; top: 0; }
#puz .secon { left: 100px; top: 0; }
#puz .third { left: 200px; top: 0; }

#puz .fourt { left: 0; top: 100px; }
#puz .fifth { left: 100px; top: 100px; }
#puz .sixth { left: 200px; top: 100px; }

#puz .seven { left: 0; top: 200px; }
#puz .eight { left: 100px; top: 200px; }
#puz .ninth { left: 200px; top: 200px; }

/* puzzle pieces area */
#puzz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* puzzle pieces */
#puzz i {
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--color);
  background-image: var(--image);
  background-size: 300px 300px;
  cursor: grab;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  touch-action: none;
  user-select: none;
  border-radius: 6px;
}

/* correct background positions */
.first { background-position: left top !important; }
.secon { background-position: center top !important; }
.third { background-position: right top !important; }

.fourt { background-position: left center !important; }
.fifth { background-position: center center !important; }
.sixth { background-position: right center !important; }

.seven { background-position: left bottom !important; }
.eight { background-position: center bottom !important; }
.ninth { background-position: right bottom !important; }

/* when dropped */
.dropped {
  background-image: var(--image);
  background-size: 300px 300px;
  outline: none !important;
}

/* when piece is completed */
.done {
  opacity: 0;
  pointer-events: none;
}

#clicks {
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
